In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [5]:
bgg = pd.read_csv('basic_data_2023.csv')
bgg.head()

,rank,bgg_url,game_id,name,min_players,max_players,avg_time,min_time,max_time,weight,year,age,avg_rating,geek_rating,num_votes,owned,designer
0,1,https://boardgamegeek.com/boardgame/224517,224517,Brass: Birmingham,2,4,120,60,120,3.8951,2018,14,8.61254,8.42343,38725,53631,"Gavan Brown, Matt Tolman, Martin Wallace"
1,2,https://boardgamegeek.com/boardgame/161936,161936,Pandemic Legacy: Season 1,2,4,60,60,60,2.8319,2015,13,8.53513,8.38948,50665,78310,"Rob Daviau, Matt Leacock"
2,3,https://boardgamegeek.com/boardgame/174430,174430,Gloomhaven,1,4,120,60,120,3.8964,2017,14,8.62190,8.38731,58467,91428,Isaac Childres
3,4,https://boardgamegeek.com/boardgame/342942,342942,Ark Nova,1,4,150,90,150,3.7253,2021,14,8.53311,8.30241,31192,46422,Mathias Wigge
4,5,https://boardgamegeek.com/boardgame/233078,233078,Twilight Imperium: Fourth Edition,3,6,480,240,480,4.3077,2017,14,8.61959,8.24265,20943,25806,"Dane Beltrami, Corey Konieczka, Christian T. P..."

In [6]:
bgg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         2000 non-null   int64
 1   bgg_url      2000 non-null   object
 2   game_id      2000 non-null   int64
 3   name         2000 non-null   object
 4   min_players  2000 non-null   int64
 5   max_players  2000 non-null   int64
 6   avg_time     2000 non-null   int64
 7   min_time     2000 non-null   int64
 8   max_time     2000 non-null   int64
 9   weight       2000 non-null   float64
 10  year         2000 non-null   int64
 11  age          2000 non-null   int64
 12  avg_rating   2000 non-null   float64
 13  geek_rating  2000 non-null   float64
 14  num_votes    2000 non-null   int64
 15  owned        2000 non-null   int64
 16  designer     1997 non-null   object
dtypes: float64(3), int64(11), object(3)
memory usage: 242.2+ KB

In [7]:
bgg.describe()

,rank,game_id,min_players,max_players,avg_time,min_time,max_time,weight,year,age,avg_rating,geek_rating,num_votes,owned
count,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,161915.52550,1.828500,5.041000,98.962500,59.448500,98.962500,2.521478,2006.731500,11.257000,7.367144,6.692397,7791.679000,12002.218500
std,577.494589,107574.63844,0.708759,6.554754,317.458241,52.265057,317.458241,0.811411,119.247295,2.465155,0.445848,0.427735,11590.369522,16824.097413
min,1.000000,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,1.017900,-2200.000000,0.000000,6.376850,6.179310,673.000000,829.000000
25%,500.750000,54113.50000,1.000000,4.000000,45.000000,30.000000,45.000000,1.956125,2010.000000,10.000000,7.042735,6.341145,2219.250000,3997.750000
50%,1000.500000,171071.00000,2.000000,4.000000,60.000000,45.000000,60.000000,2.452850,2015.000000,12.000000,7.324885,6.583630,3788.500000,6451.000000
75%,1500.250000,248582.75000,2.000000,5.000000,120.000000,60.000000,120.000000,3.046725,2019.000000,13.000000,7.640928,6.938340,8167.250000,12367.750000
max,2000.000000,374173.00000,8.000000,100.000000,12000.000000,720.000000,12000.000000,4.828200,2023.000000,18.000000,9.224300,8.423430,119956.000000,191284.000000